<html>
	<head>
		{{ if eq (len .) 0 }}
			<title>zlsrv</title>
		{{else if gt (len .) 1 }}
			<title>{{(index . 0).Z.Readme.Title}} +{{(len .)}}</title>
		{{else}}
			<title>{{(index . 0).Z.Readme.Title}}</title>
		{{end}}
	</head>
	<body>
		{{ range . }}
			<div class="zet">
				<a href="#{{.Z.Id}}">&num;</a>
				<a id="{{.Z.Id}}" href="/{{.Z.Id}}">{{.Z.Id}}</a>
				<a href="{{.CloseHref}}" class="close">close</a>
				{{ .Rendered }}
			</div>
		{{ end }}

<style>
html, body {
	margin: 0;
	padding: 0;
}
a.in-feed {
	color: rgb(34,34,34);
}
.zet {
	border: 2px dotted gray;
	margin: 10px;
	padding: 2px 5px;
	font-family: monospace;
}

.zet h2,h3 {
	margin-top: 5px;
}

.zet a.close {
	text-decoration: none;
	float: right;
}
</style>
	</body>
</html>
