<div class="refbox">
	<h3 class="relation">{{.Rel}}</h3>
	<ul>
	{{ range .Refs }}
		<li>
			<a href="{{.Url}}" {{if .InFeed}}class="in-feed"{{end}} {{if (eq .Type "uri") }}target="_blank"{{end}}>{{.Text}}</a>
		</li>
	{{ end }}
	</ul>
</div>
